<head>
    <link rel="stylesheet" type="text/css" href="/styles/footer.css">
</head>

<body class="bg-info pt-5">
    <div class="d-flex justify-content-center align-items-center pt-5">
        <div class="bg-white p-5 rounded-5 text-dark shadow" style="width:30rem">
            <div>
                <div class="d-flex justify-content-center">
                    <img src="https://cdn0.iconfinder.com/data/icons/phosphor-thin-vol-4/256/user-circle-thin-256.png"
                        alt="login-icon" style="height: 8rem">
                </div>
            </div>
            <div class="text-center fs-1 fw-bold">Change Your Password</div>
            <div class="text-center fs-5">Enter your new password</div>
            <form action="/new-password/{{token}}" method="POST">
                <!-- Email input -->
                <div class="input-group mt-4">
                    <div class="input-group-text bg-info">
                        <img src="https://cdn1.iconfinder.com/data/icons/web-and-user-interface-23/512/141-256.png"
                            alt="username-icon" style="height:  1rem">
                    </div>
                    <input class="form-control bg-light" type="password" placeholder="Password" name="password" />
                </div>

                <div class="input-group mt-2">
                    <div class="input-group-text bg-info">
                        <img src="https://cdn1.iconfinder.com/data/icons/web-and-user-interface-23/512/141-256.png"
                            alt="username-icon" style="height:  1rem">
                    </div>
                    <input class="form-control bg-light" type="password" placeholder="Verify Password" name="verifiedPassword" />
                </div>

                <!-- Submit button -->
                <div class="d-flex justify-content-center mt-3 fw-semibold ">
                    <button type="submit" class="btn btn-info w-50">Change</button>
                </div>

                <!-- Register buttons -->
            </form>
        </div>
    </div>


    <footer>
        <div class="container">
            <hr class="featurette-divider">
        </div>
        <div class="d-flex justify-content-center align-items-center ">
            <p>© 2023 Juan Ignacio Colli · <a href="https://github.com/JuanIgnacio25" target="_blank"><img
                        src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-64.png"
                        alt="google-icon" style="height: 1.6rem"></a> · <a
                    href="https://www.linkedin.com/in/juan-ignacio-colli-317696218/" target="_blank"><img
                        src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/linkedin-64.png"
                        alt="google-icon" style="height: 1.6rem"></a></p>
        </div>
    </footer>
</body>