<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../main.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/footer.css">
</head>

<body class="bg-info">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="https://cdn0.iconfinder.com/data/icons/website-15/512/web-online-05-256.png" alt="Logo"
                        width="40" height="34" class="d-inline-block align-text-top">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/productos" class="nav-link px-2 text-info">Ecommerce</a></li>
                    <li><a href="/productos" class="nav-link px-2 text-white">Products</a></li>
                    <li><a href="/carrito" class="nav-link px-2 text-white">Cart</a></li>
                    <li><a href="/chat/" class="nav-link px-2 text-white">Chat</a></li>
                </ul>

                <div class="text-end">
                    <a href="/logout" class="btn btn-outline-light me-2">Logout</a>
                    <!--<button type="button" class="btn btn-warning">Sign-up</button>-->
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class="text-center fs-1 fw-bold">Chat</h1>
        </div>

        <div class="d-flex Justify-content-center">
            <form onsubmit="return sendMessage()" class="form-control">
                <input type="text" id="message" required>
                <input type="hidden" id="email" value="{{this.email}}">
                <input type="submit" value="Enviar mensaje" class="btn btn-dark btn-sm w-50 mt-2 fw-semibold shadow-sm">
            </form>
        </div>

    </div>

    <div class="container py-5">
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="bg-white p-5 rounded-5 text-dark shadow" style="width:35rem">

                <div class="text-center fs-1 fw-bold">Chat</div>

                <form onsubmit="return sendMessage()">

                    <div class="input-group mt-2">
                        <div class="input-group-text bg-info">
                            <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_description_48px-256.png"
                                alt="description-icon" style="height:  1.5rem">
                        </div>
                        <textarea type="text" placeholder="Message" name="message" id="message"
                            class="form-control bg-light"></textarea>
                        <input type="hidden" id="email" value="{{this.email}}">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-dark w-50 mt-3 fw-semibold shadow-sm"
                            value="Enviar Mensaje">Send Message</button>
                    </div>
                </form>

                <div id="messages" class="text-center"></div>
            </div>

        </div>

    </div>

    <footer>
        <div class="container">
            <hr class="featurette-divider">
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <p>© 2023 Juan Ignacio Colli · <a href="https://github.com/JuanIgnacio25" target="_blank"><img
                        src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-64.png"
                        alt="google-icon" style="height: 1.6rem"></a> · <a
                    href="https://www.linkedin.com/in/juan-ignacio-colli-317696218/" target="_blank"><img
                        src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/linkedin-64.png"
                        alt="google-icon" style="height: 1.6rem"></a></p>
        </div>
    </footer>

</body>