<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../main.js"></script>
</head>

<body class="bg-info">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="https://cdn0.iconfinder.com/data/icons/website-15/512/web-online-05-256.png" alt="Logo"
                        width="40" height="34" class="d-inline-block align-text-top">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/productos" class="nav-link px-2 text-info">Ecommerce</a></li>
                    <li><a href="/productos" class="nav-link px-2 text-white">Products</a></li>
                    <li><a href="/carrito" class="nav-link px-2 text-white">Cart</a></li>
                    <li><a href="/chat/{{this.email}}" class="nav-link px-2 text-white">Own Messages</a></li>
                </ul>

                <div class="text-end">
                    <a href="/logout" class="btn btn-outline-light me-2">Logout</a>
                    <!--<button type="button" class="btn btn-warning">Sign-up</button>-->
                </div>
            </div>
        </div>
    </header>


    <h1>Chat</h1>
    <form onsubmit="return sendMessage()">
        <input type="text" id="message" required>
        <input type="hidden" id="email" value="{{this.email}}">
        <input type="submit" value="Enviar mensaje">
    </form>

    <div id="messages"></div>

    <hr class="featurette-divider mt-3">

    <footer class="d-flex justify-content-center ">
        <p>© 2023 Juan Ignacio Colli · <a href="https://github.com/JuanIgnacio25" target="_blank"><img
                    src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-64.png"
                    alt="google-icon" style="height: 1.6rem"></a> · <a
                href="https://www.linkedin.com/in/juan-ignacio-colli-317696218/" target="_blank"><img
                    src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/linkedin-64.png" alt="google-icon"
                    style="height: 1.6rem"></a></p>
    </footer>
</body>