<head>
    <link rel="stylesheet" type="text/css" href="/styles/footer.css">
</head>

<body class="bg-info">
    <div class="container bg-white mt-5 py-5" style="border-radius: 20px;">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="p-2">
                <h1>Error:{{this.error}}</h1>
            </div>
            <div class="p-2">
                <a href="/" class="btn btn-outline-dark me-2">Return</a>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <hr class="featurette-divider">
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <p>© 2023 Juan Ignacio Colli · <a href="https://github.com/JuanIgnacio25" target="_blank"><img
                        src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-64.png"
                        alt="google-icon" style="height: 1.6rem"></a> · <a
                    href="https://www.linkedin.com/in/juan-ignacio-colli-317696218/" target="_blank"><img
                        src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/linkedin-64.png"
                        alt="google-icon" style="height: 1.6rem"></a></p>
        </div>
    </footer>

</body>