<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://cdn0.iconfinder.com/data/icons/website-15/512/web-online-05-256.png" alt="Logo" width="36" height="30"
                class="d-inline-block align-text-top">
            E-commerce
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/productos">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/carrito">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/chat">Chat</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>

        <span class="navbar-text">
            We have the products you need!!
        </span>
    </div>
</nav>
<div>
    {{#if isAdmin}}
    <h1>Update Product</h1>
    <form action="/productos/put/{{this.id}}" method="POST">
        <input placeholder="Title" type="text" name="title" required>
        <input placeholder="Price" type="number" step="0.01" name="price" required>
        <input placeholder="Category" type="text" name="category" required> 
        <input placeholder="Descrption" type="text" name="description" required>
        <input placeholder="Thumbnail" type="text" name="thumbnail" required>
        <input type="submit" value="Update Product">
    </form>
    {{/if}}
</div>